.git
.github
.cache
.fleet
.idea
.local
.next
.pnpm-store
.turbo
.vercel
.vscode
.zed
Default
blob-report
coverage
dist
lhci_reports
node_modules
out
playwright-report
storybook-static
test-results
tmp
*.log
*.pid
*.pid.lock
*.prof
*.pprof
*.sock
*.test
*.trace
*.tsbuildinfo
