.DS_Store
.env
.env.*
!.env.example
!.env.local.example
.local/
.next/
.pnpm-store/
.turbo/
.vercel/
.vscode/
Default/
coverage/
dist/
node_modules/
playwright-report/
test-results/
*.log
*.prof
*.test
*.tsbuildinfo
